/*Покрасьте в красный цвет все теги i, находящиеся в элементах с классом eee.*/
/*.eee i{
    color: red;
}*/



/*Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:*/
/*.eee .bbb {
	color: red;
}*/



/*Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:*/
/*.eee h2 {
	color: red;
}*/




/*Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:*/
/*.eee h2.bbb {
	color: red;
}*/




/*Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:*/
/*.eee h3.bbb {
	color: red;
}*/



/*Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:*/
/*.eee p.bbb {
	color: red;
}*/



/*Расскажите, что выбирает селектор в приведенном ниже коде. Затем напишите HTML код, подходящий под этот селектор. Вот код с селектором:*/
/*.eee .bbb .kkk {
	color: red;
}*/




/*Пусть у вас также есть 4 абзаца. С помощью представленных классов сделайте так, чтобы первый абзац был зеленый и с большим шрифтом, второй абзац - красным и с маленьким шрифтом, третий абзац - красным и с большим шрифтом, а четвертый - зеленым и с маленьким шрифтом.*/
/*.success {
    color: green;
}

.error {
    color: red;
}

.large {
    font-size: 30px;
}

.small {
    font-size: 20px;
}*/



/*Придумайте и сделайте 3 какие-нибудь класса. Задайте какому-нибудь тегу одновременно все три придуманных вами класса.*/
/*.qqq{
    color: red;
}
.www{
    font-size: 30px;
}
.eee{
    font-family: 'Lucida Sans';
}*/



/*Покрасьте содержимое блока elem1 в красный цвет, блока elem2 - в зеленый, а блока elem3 - в голубой.*/
/*#elem1 {
    color: red;
}

#elem2 {
    color: green;
}

#elem3 {
    color: blue;
}*/



/**/